img {
  width: 40%;
  display: block;
  float: left;
  clear: both;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  padding-right: 2em;
}

@media only screen and (max-width: 500px) {
  img {
    width: 100%;
    padding-right: 0px;
  }
}
