img {
  width: 40%;
  display: block;
  float: left;
  clear: both;
  padding-top: 0.5ex;
  padding-bottom: 0.5ex;
  padding-right: 2em;
}

h1, h2, h3 {
  clear: both
}

@media only screen and (max-width: 500px) {
  img {
    width: 100%;
    padding-right: 0px;
  }
}

.verse {
  white-space: pre;
}

@media only screen and (min-width: 1000px) {
  .translation {
    width: 800px;
  }
}

.translation .language {
  display: inline-block;
  background-color: #eee;
  padding-left: 1em;
  padding-right: 0.5em;
  margin-top: 1ex;
}
